[package]
name = "surrealdb-migrations"
version = "0.9.5"
description = "An awesome SurrealDB migration tool, with a user-friendly CLI and a versatile Rust library that enables seamless integration into any project."
authors = ["David Bottiau"]
repository = "https://github.com/Odonno/surrealdb-migrations/"
documentation = "https://docs.rs/surrealdb-migrations/"
readme = "readme.md"
license = "MIT"
keywords = ["surrealdb", "migrations", "cli"]
categories = ["command-line-utilities"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.70"
chrono = "0.4.24"
chrono-human-duration = "0.1.1"
clap = { version = "4.1.8", features = ["derive"] }
cli-table = "0.4.7"
convert_case = "0.6.0"
diffy = "0.3.0"
fs_extra = "1.3.0"
include_dir = "0.7.3"
regex = "1.7.1"
rust-ini = "0.18"
serde_json = "1.0"
serde = { version = "1.0.144", features = ["derive"] }
tokio = { version = "1.27.0", features = ["macros"] }
sqlparser = "0.33.0"
surrealdb = "1.0.0-beta.9"

[dev-dependencies]
assert_cmd = "2.0.10"
dir-diff = "0.3.2"
pretty_assertions = "1.1.0"
serial_test = "2.0.0"
tokio-test = "0.4.2"
