[package]
name = "surrealdb-migrations"
version = "0.9.7"
description = "An awesome SurrealDB migration tool, with a user-friendly CLI and a versatile Rust library that enables seamless integration into any project."
authors = ["David Bottiau"]
repository = "https://github.com/Odonno/surrealdb-migrations/"
documentation = "https://docs.rs/surrealdb-migrations/"
readme = "readme.md"
license = "MIT"
keywords = ["surrealdb", "migrations", "cli"]
categories = ["command-line-utilities"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.71"
chrono = "0.4.24"
chrono-human-duration = "0.1.1"
clap = { version = "4.3.0", features = ["derive"] }
cli-table = "0.4.7"
convert_case = "0.6.0"
diffy = "0.3.0"
fs_extra = "1.3.0"
include_dir = "0.7.3"
itertools = "0.10.5"
names = "0.14.0"
regex = "1.8.2"
rust-ini = "0.19.0"
serde_json = "1.0.96"
serde = { version = "1.0.163", features = ["derive"] }
tokio = { version = "1.28.1", features = ["macros"] }
sqlparser = "0.34.0"
surrealdb = { version = "1.0.0-beta.9", features = ["protocol-http"] }

[dev-dependencies]
assert_cmd = "2.0.11"
dir-diff = "0.3.2"
pretty_assertions = "1.3.0"
serial_test = "2.0.0"
tokio-test = "0.4.2"
