name: Main Workflow

on: push

env:
  CARGO_TERM_COLOR: always

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2

      - name: Download SurrealDB
        run: curl --proto '=https' --tlsv1.2 -sSf https://install.surrealdb.com | sh -s -- --nightly

      - name: Run SurrealDB root
        run: surreal start --user root --pass root memory &

      - name: Run SurrealDB admin
        run: surreal start --user admin --pass admin --bind 0.0.0.0:8001 memory &

      - name: Run check
        run: cargo check --all

      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: nextest

      - name: Perform tests
        continue-on-error: false
        run: cargo nextest run
      - name: Run format
        run: |
          cargo check --all
          cargo fix

      - name: Run lint
        run: cargo clippy -- -Dwarnings

  coverage:
    needs: ci
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2

      - name: Download SurrealDB
        run: curl --proto '=https' --tlsv1.2 -sSf https://install.surrealdb.com | sh -s -- --nightly

      - name: Run SurrealDB root
        run: surreal start --user root --pass root memory &

      - name: Run SurrealDB admin
        run: surreal start --user admin --pass admin --bind 0.0.0.0:8001 memory &

      - name: Run cargo-tarpaulin
        uses: actions-rs/tarpaulin@v0.1
        with:
          version: "0.22.0"
          args: "--engine llvm --target-dir target/tarpaulin --skip-clean"

      - name: Upload to codecov.io
        uses: codecov/codecov-action@v3

      - name: Archive code coverage results
        uses: actions/upload-artifact@v1
        with:
          name: code-coverage-report
          path: cobertura.xml
